In [4]:
# Dependencies
import os
import csv
import pandas as pd

In [5]:
#File Path
data_file = os.path.join("Resources", "purchase_data.csv")

Resources\purchase_data.csv

In [6]:
data_file_df = pd.read_csv(data_file)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
total_players = len(data_file_df["SN"].value_counts())

#Data frame for total players 
total_players_count = pd.DataFrame({"Total Players":[total_players]})
total_players_count

   Total Players
0            576

In [16]:
#Calc of number of unique items
item_count = len(data_file_df["Item Name"].unique())
item_count

179

In [20]:
#Average price
avg_price = data_file_df["Price"].mean()
avg_price

3.0509871794871795

In [24]:
#Number of Purchases
number_purchases = data_file_df["Purchase ID"].count()
number_purchases

780

In [27]:
#Total Revenue
total_revenue = data_file_df["Price"].sum()
total_revenue

2379.77

In [30]:
#Summary data frame that holds all the results
summary_df = pd.DataFrame({"Number of Unique Items": [item_count],
                              "Average Price": [avg_price],
                              "Number of Purchases": [number_purchases],
                              "Total Revenue": [total_revenue]})

summary_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

In [37]:
#Gender Demographics
gender_group = data_file_df.groupby("Gender")
gender_count = gender_group.nunique()["SN"]
percentage_players = gender_count/total_players * 100
gender_demo = pd.DataFrame({"Total Count": gender_count, "Percentage of Players": percentage_players})
gender_demo.index.name = None
                            
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"{:.2f}%"})

In [38]:
#Purchase count by gender
purchase_count = gender_group["Purchase ID"].count()
purchase_count

Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [40]:
#avg. purchase price
avg_purchase_price = gender_group["Price"].mean()
avg_purchase_price

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [41]:
#total purchase value
total_purchase_value = gender_group["Price"].sum()
total_purchase_value

Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [47]:
#avg. purchase total per person
avg_purchase_total = total_purchase_value/gender_count
avg_purchase_total

Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [59]:
#Summary data frame to hold the results
gender_demo = pd.DataFrame({"Purchase Count": purchase_count, 
                            "Average Purchase Price": avg_purchase_price,
                            "Total Purchase Value": total_purchase_value,
                            "Avg Total Purchase per Person": avg_purchase_total})

gender_demo.index.name = "Gender"
gender_demo.style.format({"Average Purchase Price":"${:,.2f}",
                            "Total Purchase Value":"${:,.2f}",
                            "Avg Total Purchase per Person":"${:,.2f}"})

In [69]:
#Establish bins for ages
age_bins = [0, 9.9, 14.9, 19.9, 24.9, 29.9, 34.9, 39.9, 99999]
group_buckets = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins
data_file_df["Age Group"] = pd.cut(data_file_df["Age"],age_bins, labels = group_buckets)
data_file_df

#Calculate the numbers and percentages by age group
age_group = data_file_df.groupby("Age Group")
total_count = age_group["SN"].nunique()
percentage_age = (total_count/total_players) * 100

#Create a summary data frame to hold the results
age_demo = pd.DataFrame({"Total Count":total_count, "Percentage of Players":percentage_age})

age_demo.index.name = None
age_demo.style.format({"Percentage of Players":"{:,.2f}%"})

In [70]:
#Purchase count by age group
purchase_count = age_group["Purchase ID"].count()

#Average Purchase Price by age group
avg_purchase_price = age_group["Price"].mean()

#Total Purchase Value by age group
total_purchase_value = age_group["Price"].sum()

#Avg Total Purchase per Person
avg_total_purchase = total_purchase_value/total_count

#Create a summary data frame to hold the results
age_demo = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":avg_purchase_price,
                         "Total Purchase Value":total_purchase_value,
                         "Avg Total Purchase per Person":avg_total_purchase})

age_demo.index.name = "Age Ranges"
age_demo.style.format({"Average Purchase Price":"${:,.2f}",
                       "Total Purchase Value":"${:,.2f}",
                       "Avg Total Purchase per Person":"${:,.2f}"})

In [80]:
#Establish binds for Top Spenders
spender_group = data_file_df.groupby("SN")

#Purchase count by Top Spenders
purchase_count = spender_group["Purchase ID"].count()

#Average Purchase Price by Top Spenders
avg_purchase_price_top_spender = spender_group["Price"].mean()

#Sort the total purchase value column in descending order
total_purchase_value_top_spender = spender_group["Price"].sum()

total_spenders = pd.DataFrame({"Purchase Count":purchase_count,
                               "Average Purchase Price":avg_purchase_price_top_spender,
                               "Total Purchase Value":total_purchase_value_top_spender})

format_spender = total_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

format_spender.index.name = "SN"
format_spender.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}"})

In [82]:
#Retrieve the Item ID, Item Name, and Item Price columns
items = data_file_df[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name
item_id_group = items.groupby(["Item ID","Item Name"])

#Perform calculations to obtain purchase count, item price, and total purchase value
purchase_count = item_id_group["Price"].count()
purchase_total_value = item_id_group["Price"].sum()
item_price = purchase_total_value/purchase_count

#Create a summary data frame to hold the results
most_popular_items = pd.DataFrame({"Purchase Count":purchase_count,
                                   "Item Price":item_price,
                                   "Total Purchase Value":purchase_total_value})

format_most_popular = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

format_most_popular.style.format({"Item Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}"})

In [83]:
#Retrieve the Item ID, Item Name, and Item Price columns
items = data_file_df[["Item ID", "Item Name", "Price"]]

#Group by Item ID and Item Name
item_id_group = items.groupby(["Item ID","Item Name"])

#Perform calculations to obtain purchase count, item price, and total purchase value
purchase_count = item_id_group["Price"].count()
purchase_total_value = item_id_group["Price"].sum()
item_price = purchase_total_value/purchase_count

#Create a summary data frame to hold the results
most_popular_items = pd.DataFrame({"Purchase Count":purchase_count,
                                   "Item Price":item_price,
                                   "Total Purchase Value":purchase_total_value})

format_most_popular = most_popular_items.sort_values(["Total Purchase Value"], ascending=False).head()

format_most_popular.style.format({"Item Price":"${:,.2f}",
                                   "Total Purchase Value":"${:,.2f}"})